
@{
    ViewData["Title"] = "_LoginPartial";
}

@if(Context.User.Identity.Name != null)
{
    <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-expand-lg">
        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @Context.User.Identity.Name
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log OFF</button>
            </li>
        </ul>
    </form>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark " asp-controller="Account" asp-action="Registration"> Registration </a></li>
        <li><a class="nav-link text-dark " asp-controller="Account" asp-action="Login"> Login </a></li>
    </ul>
}
